@media only screen and (min-width: 1920px) {

    .gallery_next {

        right: 12%;
    }

    .gallery_prev {

        left: 14%;
    }

    .showcase_next {
        right: -4%;
    }

    .showcase_prev {
        left: -2%;
    }
}

@media only screen and (min-width: 1620px) and (max-width: 1920px) {
    .gallery_next {

        right: 140px;
    }

    .gallery_prev {

        left: 172px;
    }

    .gallery_prev i,
    .gallery_next i {
        font-size: 50px;
    }
}

@media only screen and (min-width: 1370px) and (max-width: 1619px) {
    .gallery_next {

        right: 48px;
    }

    .gallery_prev {

        left: 80px;
    }

}

@media only screen and (max-width: 1370px) {
    .gallery_next {

        right: -25px;
    }

    .gallery_prev {

        left: 10px;
    }


}

@media only screen and (min-width: 1368px) {
    .location-info .container {
        max-width: 1200px !important;
    }

}

@media only screen and (max-width: 1300px) {
    .mdx-none {
        display: none;
    }
}

@media only screen and (min-width: 1300px) {

    .partner_section .container,
    .footer_top_section .container,
    .gallery-section .container {
        max-width: 1280px !important;
    }

    .lgx-none {
        display: none;
    }


}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .page_en .site-navbar-wrap .site-navbar .site-navigation .site-menu>li>a {

        font-size: 16px;
    }

    .page_en .site-navbar .site-navigation .site-menu>li {
        margin-right: 5px;
    }

    .page_en .logo-area {
        margin-left: 0;
        margin-right: 10px;
    }

    .page_en .site-navbar .site-navigation .site-menu .has-children::after {
        left: auto;
        right: -5px;
        top: 53%;
        font-size: 16px;
    }

    .page_en .socian-icon.md-none img {
        max-width: 17px;
    }

    .page_en ul.lang_opt li ul {
        left: auto;
        right: -5px;

    }

    .page_en ul.lang_opt li a {
        font-size: 17px;

    }

    .site-navbar .site-navigation .site-menu>li {

        margin-right: 8px;
    }

    .partner_next {
        right: 4%;
    }

    .partner_prev {
        left: 3%;
    }

    .site-navbar-wrap .site-navbar .site-navigation .site-menu>li>a {

        font-size: 16px;

    }

    .site-navbar .site-navigation .site-menu .has-children .dropdown>li>a {

        font-size: 14px;

    }

    .lang-select .dropdown button {

        font-size: 16px;

    }

    .navbar-brand img {
        max-width: 100px;
    }

    .socian-icon a {
        margin-left: 3px;
    }

    .logo-area {
        margin-left: 10px;
    }

    .site-navbar .site-navigation .site-menu>li {
        padding: 10px 8px;
    }

    .product_detils.company_profile.inner .showcase_desc {
        padding: 0 !important;
        transform: translateY(0);
    }

    .gallery_text a {

        width: 38.5%;

    }
}

@media only screen and (max-width: 1199px) {
    .product_detils .section-content p {
        padding: 0 15px;
    }
}

@media only screen and (min-width: 992px) {
    .prx-0 {
        padding-right: 0 !important;
    }

    .partner-wrap {
        max-width: 800px;
    }

    .partner_section .offset-lg-2 {
        margin-left: auto !important;
        margin-right: 16.666667% !important;

    }

    ul.lang_opt li:hover ul.dropdown_lng {
        display: block;
        opacity: 1;
    }

    .gallery_slider-item .offset-lg-6 {
        margin-left: auto !important;
        margin-right: 50% !important;
    }

    .contact-section .offset-lg-3 {
        margin-right: 25%;
        margin-left: auto;
    }

    .product_detils.company_profile.inner .showcase_desc {
        padding-left: 40px;
    }

    .single_product.v3:hover .product_title_bar {
        transform: translateY(-45px);

    }

}

@media only screen and (min-width: 768px) {
    .single_product.v2:hover .product_desc {
        visibility: visible;
        opacity: 1;
    }

    .single_product.v2:hover .overlay {
        opacity: 1;
        visibility: visible;
        z-index: 1;
    }

    .single_product.v2:hover .product_title {
        opacity: 0;
        visibility: hidden;
    }



}

@media only screen and (max-width: 768px) {

    .partner_next,
    .partner_prev {
        display: none;
    }

    .gallery_next {

        right: -30px;
    }

    .gallery_prev {

        left: 7px;
    }

    .gallery_text {

        padding: 0 !important;

    }

    /*.page_en .galler_text_wrap {
        text-align: center !important;
        padding: 0 20px 0 5px !important;
        height: 100%;
        width: 100%;
    }*/
    .page_en .galler_text_wrap {
        text-align: center !important;
        padding: 0 23px 13px 20px !important;
        height: 100%;
        width: calc(100% - 5px);
    }

    .galler_text_wrap {
        text-align: center;
        padding: 0 20px 0 30px;
        height: 100.5%;
        width: calc(100% + 15px);
    }

    .gallery_text a {

        margin: 0 auto;
    }

    .gallery_text h3::after {
        left: 50% !important;
        right: auto;
        transform: translateX(-50%);
        width: 49%;
    }

    .gallery_text.bg-f,
    .gallery_slider-item {
        height: 350px;
    }

    .footer_widget .socian-icon {
        margin-top: 25px;
    }

    .galler_text_wrap {
        background: rgb(30, 32, 41, 1);
    }

    .section_title.v1 h2 {
        display: inline-block;
        border-bottom: 1px solid #000;
    }

    .section_title.v1 h2::after {
        display: none;
    }

    .product_title_bar.v2 {
        background: rgb(52, 53, 64, 1);
    }

    .product_detils.company_profile.inner .row.mt-30.project_gal {
        margin-top: 0;
    }

    .product_detils.company_profile.inner .row.project_gal {
        margin-bottom: 10px;
    }

    ul.lang_opt li a {
        font-size: 16px;
    }



    .page_en .product_title_bar h2 {

        font-size: 18px;

    }

    .page_en .single_product.v4 {
        height: 420px;
    }


    .page_en .brand_beta .showcase_desc span {
        font-size: 18px;
        font-weight: 600;
        font-family: "Opensans Hebrew Bold";
        line-height: 24px;
    }

    .page_en .brand_beta .showcase_desc h2 {
        font-weight: 400;
        font-size: 16px;
    }

    .showcase_desc.mdc h2 {
        font-weight: 400;
        font-size: 16px;
        font-family: "Opensans Hebrew regular";
        line-height: 20px;
    }

    .page_en .product_detils.company_profile.brand_beta .showcase_desc {
        height: auto;
        text-align: left;
        padding: 10px 18px;
    }

    .page_en .showcase_bg.bg-h.ext {
        height: 190px;
    }

    .page_en .product_detils.company_profile.brand_beta .row.mt-50.mb-50 {
        margin-bottom: 30px;
    }

    .page_en .breadcrumb_section {
        height: 340px;
    }

    .page_en .breadcrumb-content h2 {
        font-size: 30px;
        line-height: 38px;
    }

    .page_en .breadcrumb-content p {
        font-size: 14px;
        line-height: 25px;
        font-family: "OpenSans Hebrew Regular";
    }

    .page_en .breadcrumb-content {
        transform: translateY(180px);
    }

    .page_en .gallery_text p {
        font-size: 14px;
        line-height: 17px;
    }

    .page_en .gallery_text h3 {
        font-size: 16px;
    }

    .page_en .gallery_text a {
        width: 100px;
        line-height: 21px;
        font-size: 16px;
        width: 104px;
        padding: 6px 7px 8px;
    }

    .page_en .hero-content h1 {
        font-size: 25px;
    }

    .page_en .hero-content p {
        font-size: 16px;
    }

    .page_en .product_desc h2 {
        font-size: 16px;
    }

    .page_en .product_desc p {
        font-size: 14px;
    }

    .page_en .swiper-container.gallery-slider {
        margin: 0 auto !important;
    }

    .page_en .gallery-section.home .container {
        width: 82%;

    }

    .owl-next,
    .owl-prev {
        top: 48.7%;
    }

}

@media only screen and (min-width: 992px) {
    .brand_beta .showcase_bg.bg-h.ext {
        height: 550px;
    }

    .projects .offset-lg-2 {
        margin-right: 16.666667% !important;
        margin-left: auto !important;
    }

    .brand_beta .product_title_bar p {
        line-height: 28px;
        padding: 5px 35px;

    }

    .lang_list:hover:before {
        transform: rotate(180deg);
    }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .hero-content h1 {
        font-size: 70px;
    }

    .hero-content p {
        font-size: 18px;

    }


    .lang-select .dropdown button {

        position: relative;
        top: -5px;
    }

    .gallery_text,
    .gallery-img {

        height: 400px;
    }

    .gallery_text {

        text-align: center;
    }


    .profile_desc p {
        margin-bottom: 30px;
    }

    .gallery_text a {
        width: 21.5%;
    }
}

@media only screen and (max-width: 991px) {
    .page_en .logo-area {
        float: right;
        margin: 0;
    }

    .page_en .mobile-bar.js-menu-toggle {

        float: left;

    }

    .page_en ul.lang_opt li ul {
        left: auto;
        right: -5px;

    }

    .page_en .galler_text_wrap {
        text-align: center;
        padding: 0 30px;
    }

    .page_en .gallery_text a {

        margin: 0 auto;
    }

    .page_en .socian-icon {
        margin-right: 0px;
    }

    .site-mobile-menu .site-nav-wrap a.active {
        font-size: 22px;
        font-family: "Assistant SemiBold";
        line-height: 30px;
    }

    .logo-area {
        float: left;
        margin: 0;
    }

    .dropdown_lng {
        display: none;
        opacity: 0;

    }

    .dropdown_lng.show {
        display: block;
        opacity: 1;
    }

    .site-navbar-wrap {
        padding: 15px 0;
    }

    .socian-icon.d-lg-none {
        margin-left: 0;
        margin-top: 15px;
    }

    .product_detils .col-lg-6 {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .showcase_bg.bg-h.ext {
        left: 0 !important;
        margin-left: 0;
        margin-right: -4px;
    }


    .socian-icon.d-lg-none a {
        display: inline-block;
        padding: 13px 5px;
        margin: 0;
    }

    .footer_widget {
        margin-bottom: 30px;
    }

    .md-none {
        display: none !important;
    }

    .site-mobile-menu .site-nav-wrap>li>a {
        font-size: 22px;
        font-family: "Assistant Regular";
        line-height: 30px;
    }

    .site-mobile-menu .site-nav-wrap>li>ul>li>a {
        font-size: 21px;
        font-family: "Assistant SemiBold";
        line-height: 28px;
        border-bottom: 1px solid #777;
    }

    .md-right {
        text-align: right !important;
    }

    .md-left {
        text-align: left !important;
    }

    .contact-section {
        margin-top: -50px;
    }

    .company_profile .showcase_desc {
        padding: 30px;
    }

    .showcase_desc {
        display: block;
        height: auto;
        margin-bottom: 30px;
        padding: 0;
    }

    .showcase_desc span {

        display: block;

    }

    .simple_3 .bg-s {
        height: 250px;
        margin-bottom: 30px;
    }

    .gallery_text h3:after {
        left: 50%;
    }

    .partner_next {
        right: auto;
        left: 50%;
        margin-left: 30px;
        top: 95%;
        z-index: 999;
    }

    .partner_prev {
        left: auto;
        right: 50%;
        margin-right: 30px;
        top: 95%;
        z-index: 999;
    }

    .partner-wrap {
        padding: 50px 0 50px;
    }

    .gallery_text {
        background: rgb(34, 35, 45);
        /*! padding: 75px 30px; */

        display: inline-block;
        height: 380px;
        text-align: center;
    }

    .gallery-img {
        height: 400px;
    }

    .section_title.v2 p {
        padding: 0 10px;
        font-size: 16px;
    }

    .product_cat {

        margin: 10px 0;
        /*! text-align: center; */

    }

    .brand_beta .showcase_desc {
        display: block;
        transform: translateY(2px);
    }

    .product_detils.company_profile.inner .showcase_desc.v3 {
        transform: translateY(0px);
        padding: 10px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .gallery_next {
        right: 38px;
        top: 58.5%;
    }

    .gallery_prev {
        left: 81px;
        top: 58.5%;
    }

    .swiper-container.gallery-slider.swiper-container-horizontal.swiper-container-rtl {
        margin: 0 30px;
    }
}


@media only screen and (min-width: 320px) and (max-width: 767px) {
    .breadcrumb_section.about {
        background-image: url(../img/breadcrumb-12.png) !important;
    }

    .breadcrumb_section.mag,
    .breadcrumb_section.mag_details {
        background-image: url(../img/breadcrumb_13.png) !important;
    }

    .breadcrumb_section.projects {
        background-image: url(../img/breadcrumb_14.png) !important;
    }

    .breadcrumb_section.proj_details {
        background-image: url(../img/breadcrumb_15.png) !important;
    }

    .breadcrumb_section.pro_page {
        background-image: url(../img/breadcrumb_16.png) !important;
    }

    .breadcrumb_section.contact {
        background-image: url(../img/breadcrumb_19.png) !important;
    }

    .breadcrumb_section.showrooms {
        background-image: url(../img/breadcrumb_18.png) !important;
    }

    .breadcrumb_section.brand_page {
        background-image: url(../img/breadcrumb_17.png) !important;
    }

    .breadcrumb-content h2 {
        font-size: 29px;
        line-height: 38px;
        font-family: "OpenSans Hebrew Condensed";
    }

    .lang_opt li.maf:before {
        transform: rotate(180deg);
    }

    .col-lg-5.plx_1,
    .col-lg-6.plx_1,
    .col-lg-6.plx_1,
    .col-md-6.plx_1 {
        padding-left: 2.5px !important;
    }

    .col-lg-6.prx_1,
    .col-md-6.prx_1 {
        padding-right: 2.5px !important;
    }

    .hero-area {
        height: 400px;
    }

    .breadcrumb_section {
        height: 300px;
    }

    .breadcrumb-content {
        transform: translateY(150px);
    }

    .sm-center {
        text-align: center !important;
    }

    .hero-content {
        transform: translateY(28px);
    }

    .hero-content h1 {
        font-size: 46px;
    }

    .hero-content p {
        font-size: 16px;

    }

    .logo-area {
        float: left;
        margin-left: 20px;
    }

    .product-area.mt-5.home {
        margin-top: 15px !important;
    }


    .lang-select .dropdown button {

        position: relative;
        top: -5px;
    }

    .single_product {

        height: 300px;
    }

    .simple_3 {

        margin: 0;
    }

    .single_product.v4 {
        height: 420px;
    }

    .profile_product {
        height: 280px;
    }

    .swiper-container.gallery-slider {
        margin: 0 30px;
    }

    .simple_2,
    .simple_3 {

        padding: 20px;
    }

    .product_detils.pb-3.company_profile.inner .simple_3 {
        padding: 0;
    }

    .product_detils.pb-3.company_profile.inner .simple_1.bg-s {
        height: 100%;
    }

    .product_detils.company_profile.inner .showcase_desc.v3 {
        transform: translateY(0);
        padding: 10px 0;
    }

    .product_detils.company_profile.inner .showcase_desc span {
        font-size: 20px;

    }

    .swiper-container.gallery_slider.swiper-container-horizontal.swiper-container-rtl {
        margin: 0 30px;
    }

    .swiper-container.product_showcase.swiper-container-horizontal.swiper-container-rtl {
        overflow: hidden;
    }


    .showcase_bg.bg-h.ext {
        left: 0px;
        /*! margin-left: 4px; */
    }

    .showcase_next,
    .showcase_prev {
        display: none;
    }

    .showcase_bg.bg-h {
        left: 9px;
    }

    .profile_desc h3 {
        font-size: 22px;
        font-weight: 600;

    }

    .simple_1.bg-xs {
        height: 260px;
    }

    .profile_desc p {
        padding: 0 20px;
        font-size: 18px;
        margin-bottom: 30px;
    }

    .showcase_desc.v3 {
        height: auto;
    }

    .single_product.v3 {
        height: 300px;
    }

    .footer_widget {
        text-align: center !important;
    }

    .location_img .bg-s {
        margin: 30px 0 5px;
    }

    .location_img .bg-s {
        height: 250px;
    }

    .partner_first img {
        max-width: 130px;
    }

    .footer_logo img {
        max-width: 120px;
    }

    .single_product.v2 {
        height: 280px;
    }

    .footer_widget p {
        font-weight: 500;
        font-size: 16px;
    }

    .footer_widget h5 {

        margin-bottom: 5px;
        font-weight: 700;
    }

    .company_profile.inner .showcase_desc {
        padding: 00px;
    }

    .product_detils.location .row.mb-40 {
        margin-bottom: 5px;
    }

    .product_detils.pb-3.product .row.mt-5 {
        margin-top: 20px !important;
    }

    .partner_section.brands_partner {
        margin-top: -10px !important;
    }

    .product_detils.brands .profile_product {
        height: 195px;
    }

    .col-lg-7.col-sm-12.col-12.order-sm-4.mb-3.order-4.order-lg-4.wow.fadeIn {
        margin-top: -15px !important;
    }

    .col-lg-6.col-md-12.col-sm-12.col-12.order-lg-1.order-md-2 .order-sm-2.order-2.pl-0 {
        padding-left: 15px !important;
    }

    .col-lg-6.col-md-12.col-sm-12.col-12.order-lg-2.order-md-1.order-1.order-sm-1.pr-0 {
        padding-right: 15px !important;

    }

    .row.mt-65 {
        margin-top: 40px !important;
    }

    .partner_section.brands_partner .section_title.v1 h2 {
        font-size: 24px;
        padding-bottom: 10px;
        font-weight: 400;
    }

    .partner_section.brands_partner .row.mt-4 {
        margin-top: 0 !important;
    }

    .product_detils.company_profile.magazine .row.mb-40 {
        margin-bottom: 0;
    }

    .product_detils.company_profile.magazine .row.pt-50 {
        padding-top: 10px !important;
    }

    .product_detils.company_profile.magazine .row.pt-50 .showcase_desc h2 {
        font-size: 16px;

    }

    .product_detils.company_profile.magazine .row.pt-50 .showcase_desc span {
        font-size: 20px;

    }

    .product_detils.company_profile.inner .row.mb-40 {
        margin-bottom: 0;
    }

    .product_detils.company_profile.inner .row.mt-50 {
        margin-top: 0;

    }

    .product_detils.company_profile.inner .row.mt-40 {
        margin-top: 10px;
    }

    .product_detils.company_profile.magazine .row.pt-50 {
        padding-top: 10px !important;
    }

    .product_detils.company_profile.inner .showcase_bg.bg-h {
        left: 0;
        height: 240px;
        margin: 30px 0px 0;
    }

    .product_detils.company_profile.inner .col-lg-4.mb-4,
    .product_detils.company_profile.inner .col-lg-6.mb-4 {
        margin-bottom: 10px !important;
    }

    .product_detils.company_profile.inner .simple_1.bg-s {
        height: 240px;
    }

    .product_detils.company_profile.magazine .showcase_bg.bg-h {
        left: 0;
        height: 300px;
    }

    .product_detils.company_profile.magazine .col-lg-4.mt-40.text-right {
        margin-top: 10px;
    }

    .single_product.v4 .product_title_bar.v2 {

        background: rgb(52, 53, 64);
        box-shadow: none;
    }

    .brand_beta .showcase_desc h2 {
        font-size: 16px;
        font-family: "Assistant Bold";
        line-height: 21px;
    }

    .product_detils.about .col-lg-6.prx_1 {
        padding-left: 11px !important;
    }

    .product_detils.about .col-lg-6.plx_1 {
        padding-right: 11px !important;
    }

    .product_detils.about .single_product.v1 {
        margin: 2px 0;
    }

    .partner_section.home .section_title.v1 h2,
    .product-area.home .section_title.v1 h2,
    .gallery-section.home .section_title.v1 h2 {
        border-bottom: 1px solid #000;
        display: inline-block;
    }

    .partner_section.home .section_title.v1 h2::after,
    .gallery-section.home .section_title.v1 h2::after,
    .product-area.home .section_title.v1 h2::after {
        display: none;
    }

    .product-area.home .product_desc {

        padding: 0 10px;
    }

    .product-area.home .single_product {

        height: 200px;

    }

    .product-area.home .single_product.v1 {
        margin: 10px 0;
        margin-top: 10px;
        margin-top: -4px;
    }

    ul.lang_opt {
        margin-top: -8px;
    }

    .gallery_text a {
        width: 36.5%;

    }

    .gallery_text a {

        padding: 6px 15px 8px;
        font-size: 16px;
        line-height: 21px;
    }

    .product_detils.product .section_title.v2 h2 {
        font-size: 22px;
        line-height: 30px;
    }

    .brand_beta .product_title_bar h2 {
        font-family: "OpenSans Hebrew Bold";
        font-size: 16px;
        line-height: 21px;
    }

    .brand_beta .product_title_bar p {
        font-size: 16px;
        line-height: 17px;
    }

    .smy-20 {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    ul.lang_opt li a img {
        margin-left: 0;
    }

    .showcase_prev,
    .showcase_next {
        display: none;
    }

    section.product_showcase.swiper-container-horizontal.swiper-container-rtl.swiper-container-ios .col-md-12.mt-30 {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .page_en .brand_beta .showcase_desc {
        transform: translateY(15px);
    }

    .smt-5 {
        margin-top: 5px !important;
    }

    .smb-30 {
        margin-bottom: 30px !important;
    }

    .smt-10 {
        margin-top: 10px !important;
    }

    .smt--15 {
        margin-top: -15px !important;
    }

    .simple_1.bg-s.lazy.maf {
        height: 230px !important;
    }

    .showcase_desc.v3.maf {
        padding: 10px 5px !important;
    }

    ul.dropdown_lng.show a span {
        margin-right: 15px;
    }

    ul.lang_opt>li:before {
        top: 16px;


    }

    ul.lang_opt li img,
    ul.lang_opt li a img {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 575px) {

    .gallery_text.bg-f,
    .gallery_slider-item {
        height: 270px;
    }

    .hero-content h1 {
        font-size: 34px;
    }

    .page_en .galler_text_wrap {
        width: 101.3%;
    }

    .page_en .gallery_text.bg-f {
        margin: 0 0 0 -0.5px;
        width: 94%;
    }

    .site-navbar-wrap .mobile-bar span {
        top: -3px;
        position: relative;
    }

    .logo-area img {
        max-width: 90px;
    }

    .logo-area {
        display: inline-block;
        margin-left: -20px;
    }

    .socian-icon a img {
        max-width: 30px;
    }

    .socian-icon a {
        margin-left: 2px;
    }

    .lang-select .dropdown button {

        font-size: 15px;
    }

    .showcase_bg.bg-h.ext {
        height: 280px;
    }

    .swiper-container.gallery-slider.swiper-container-horizontal.swiper-container-rtl {
        margin: 0 30px;
    }

    .gallery_text {
        height: 400px;
        text-align: center;
    }

    .page_en .gallery_slider-item {
        margin-left: 14.5px;
    }

    .contact_add li {
        display: block;
    }

    .contact_add li:after {
        display: none
    }

    .copyright p {
        font-size: 14px;
    }


    .partner_first img {
        max-width: 90px;
        margin: 0 20px;
    }

    .gallery_text h3 {

        font-size: 16px;
    }

    .gallery_text {
        padding: 50px 10px 50px;
    }

    .gallery_text,
    .gallery-img {
        height: 300px;
    }

    .gallery_text p {
        line-height: 1.5;
        font-size: 15px;
    }

    .gallery_next,
    .gallery_prev {
        top: 48.5%;
    }

    .magazine_slider .gallery_next,
    .magazine_slider .gallery_prev {
        top: 40%;

    }

    .page_en .gallery_text.bg-f,
    .gallery_slider-item {
        height: 300px;
    }

    .page_en .gallery-slider .col-lg-6.col-md-12.col-sm-12.col-12.pl-0 {
        padding-left: 15px !important;
    }

}

@media only screen and (max-width: 480px) {
    .product_desc h2 {

        font-size: 22px;
    }

    .product_desc p {
        font-size: 14px;
    }

    .single_product {
        height: 220px;
    }
}

@media only screen and (max-width: 380px) {
    .gallery_text {
        padding: 23px 5px 30px;
    }
}

/*@media screen and (-webkit-min-device-pixel-ratio:575px) {
    .page_en .gallery_text.bg-f {
        margin: 0 0 0 -1px;
        width: 94.2%;
    }
}*/
@media only screen and (min-width: 375px) and (max-width: 400px) {
    .page_en .gallery_slider-item {
        width: 95%;
    }
   /*  .page_en .gallery_slider-item {
        margin-left: 0!important;
    }*/
}