/*===============================
    Style for English Version
=================================*/

.logo-area {
    margin-right: 20px;
    margin-left: 0;
}

.page_en .site-navbar .site-navigation .site-menu .has-children::after {

    left: auto;
    right: -18px;
}

.page_en .site-navbar .site-navigation .site-menu .has-children .dropdown>li>a {
    text-transform: uppercase;
}

.page_en .brand_beta .showcase_desc span {

    font-family: "OpenSans Hebrew Bold";
    line-height: 37px;
}

/*.page_en .brand_beta .showcase_desc {
    transform: translateY(95px);
}*/

.page_en .site-navbar .site-navigation .site-menu>li {
    margin-right: 30px;
}

.page_en .footer_widget h5 {

    font-size: 20px;
    font-family: "OpenSans Hebrew Bold";
}

.page_en .galler_text_wrap {

    text-align: left;
    padding: 0 130px 0 40px;
}

.page_en .site-navbar-wrap .site-navbar .site-navigation .site-menu>li>a {

    font-size: 20px;
    font-family: "OpenSans Hebrew Regular";
    line-height: 27px;
}

.page_en .section_title.v1 h2::after {

    height: 1px;

}

.page_en .gallery_text h3::after {

    left: 0;
    width: 44%;

}

.page_en .gallery_text a {
    width: 160px;
    font-family: 'OpenSans Hebrew';
    font-weight: 400;
    line-height: 36px;
    font-size: 24px;
    padding: 6px 15px 8px;
}

.page_en .socian-icon {
    margin-left: 0;
    margin-right: 40px;
}

.page_en .footer_widget .socian-icon {
    margin-left: 0;
    margin-right: 0px;
}

.page_en ul.lang_opt li:before {

    left: -16px;
    right: auto;
    top: 16px;

}

.page_en ul.lang_opt li img,
.page_en ul.lang_opt li a img {
    margin-right: 5px;
}

.page_en ul.lang_opt li.lang_list {
    padding: 1rem .2rem 1rem 0;
}

.page_en ul.lang_opt li a img {
    margin-left: 0;
    margin-right: 0;
}

.page_en .hero-content h1 {
    font-size: 56px;
    font-family: 'OpenSans Hebrew Bold';
}

.page_en .hero-content p {
    font-size: 33px;
    font-family: 'OpenSans Hebrew';
    line-height: 1.2;
    margin-top: 10px;
}

.page_en .product_detils.company_profile.brand_beta .showcase_desc {
    height: auto;
    text-align: left;
    padding: 0 0 0 35px;
}

.page_en .breadcrumb-content h2 {
    font-size: 48px;
    line-height: 64px;
    font-family: "Opensans Hebrew Condensed Light";
}

.page_en .breadcrumb-content p {
    font-size: 28px;
    font-family: 'OpenSans Hebrew Condensed Light';
    line-height: 50px;
}

.page_en .breadcrumb-menu ul li {
    padding: 0;
    font-size: 20px;
}

.page_en .breadcrumb-menu ul li a {
    padding-right: 10px;
}

.page_en .breadcrumb-menu ul li:last-child {
    margin-left: 10px;
}

.page_en .breadcrumb-menu ul li a::after {
    right: 0;
    left: auto;
    top: 3px;
    content: "\f3d1";
    font-family: 'Ionicons';
    font-size: 16px;
}

.page_en .product_desc h2 {
    font-size: 35px;
    font-family: "OpenSans Hebrew bold";
}

.page_en .product_desc p {
    font-size: 25px;
}

.page_en .product_desc h2::after {

    width: 100%;

}

.page_en .gallery_text h3 {
    font-size: 30px;
    font-family: "OpenSans Hebrew bold";
}

.page_en .gallery_text p {
    font-size: 23px;
    line-height: 28px;
}


@media only screen and (max-width: 767px) {
    .page_en .brand_beta .product_title_bar h2 {
        font-family: "OpenSans Hebrew Bold";
        font-size: 18px;
        line-height: 24px;
    }
}