/* Base CSS */
@font-face {
    font-family: OpenSans Hebrew Bold;
    src: url(../fonts/opensanshebrew-bold.ttf);
    font-display: swap;
}

@font-face {
    font-family: OpenSans Hebrew Bold;
    src: url(../fonts/opensanshebrew-bold.woff);
    font-display: swap;
}
@font-face {
    font-family: OpenSans Hebrew Regular;
    src: url(../fonts/opensanshebrew-regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: OpenSans Hebrew ExtraaBold;
    src: url(../fonts/opensanshebrew-extrabold.ttf);
    font-display: swap;
}


@font-face {
    font-family: OpenSans Hebrew Condensed Light;
    src: url(../fonts/OpenSansCondensed-Light.ttf);
    font-display: swap;
}
@font-face {
    font-family: OpenSans Hebrew Condensed;
    src: url(../fonts/OpenSansHebrewCondensed-Regular.ttf);
    font-display: swap;
}
@font-face {
    font-family: OpenSans Hebrew Condensed Bold;
    src: url(../fonts/OpenSansCondensed-Bold.ttf);
    font-display: swap;
}
@font-face {
    font-family: OpenSans Hebrew Light;
    src: url(../fonts/opensanshebrew-light.ttf);
    font-display: swap;
}

@font-face {
    font-family: OpenSans Hebrew;
    src: url(../fonts/opensanshebrew-light.woff);
    font-display: swap;
}

@font-face {
    font-family: OpenSans Hebrew Normal;
    src: url(../fonts/opensanshebrew-regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: OpenSans Hebrew;
    src: url(../fonts/opensanshebrew-regular.woff);
    font-display: swap;
}

@font-face {
    font-family: Assistant Light;
    src: url(../fonts/Assistant-Light.ttf);
    font-display: swap;
}

@font-face {
    font-family: Assistant Regular;
    src: url(../fonts/Assistant-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: Assistant Bold;
    src: url(../fonts/Assistant-Bold.ttf);
    font-display: swap;
    font-weight: 500;
}
@font-face {
    font-family: Assistant SemiBold;
    font-display: swap;
    src: url(../fonts/Assistant-SemiBold.ttf);
}
@font-face {
    font-family: Assistant ExtraaLight;
    src: url(../fonts/Assistant-ExtraLight.ttf);
    font-display: swap;
}


.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
    font-weight: 500;
    font-family: OpenSans Hebrew Normal;
    color: #2F313E
}

h2 {
    font-size: 48px;
}


body {
    font-weight: 400;
    overflow-x: hidden;
}

p {
    line-height: 1.7;
    margin-bottom: 0;
    font-family: "Assistant Regular";
}

.selector-for-some-widget {
    box-sizing: content-box;
}

a {
    transition: all 0.3s ease;
    color: #2F313E;
}

a:hover {
    text-decoration: none;
    color: #2F313E;
    /*! color: #fff; */
}

ul,
li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.border {
    border: 2px solid #fff !important;
    width: 110px;
    margin: 0 auto;
}



.image-hight {
    position: relative;
}

.image-hight::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: #2F303B;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}

.image-hight:hover::before {
    opacity: .7;
    visibility: visible;
}





.image-hight img {
    width: 100%;
}


.content-box {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}


/* Header bar area Start */

.header-bar-area {
    position: fixed;
    width: 100%;
    left: 0;
    background: #2F313E;
    z-index: 999;
    padding: 15px 0;
}

button:focus {
    outline: none;
    outline: 5px auto -webkit-focus-ring-color;
}

.lang-select .dropdown button::after {
    position: absolute;
    right: -16px;
    top: 14px;
}

.lang-select .dropdown.show button::after {
    transform: rotate(182deg);
}

.lang-select .dropdown {
    display: inline-block;
}

.lang-select .dropdown button {
    background: transparent;
    color: #fff;
    font-size: 20px;
    border: none;
    padding: 0;
}


.lang-select .dropdown-menu {
    min-width: 50px;
    padding: 0;
    margin: 0;
    color: #fff;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    border-radius: 0;
    padding-top: 20px;
    background: #2F313E;
    width: 100px !important;
    z-index: 9999999;
}


.lang-select .dropdown-item {
    display: block;
    width: 100%;
    padding: 5px;
    clear: both;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    text-align: center;
    font-size: 18px;
}

ul.lang_opt {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

ul.lang_opt li {
    color: #fff;
    display: block;
    float: left;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
    font-size: 20px;

    

}
ul.lang_opt li.lang_list {
   padding: 1rem .2rem 1rem 0; 
}
ul.lang_opt li a {
    color: #fff;
    position: relative;
    transition: 0.2s;
    padding: 1rem .2rem 1rem 0;
    font-size: 20px;
}

ul.lang_opt > li:before {
    position: absolute;
    top: 15px;
    right: -15px;
    content: "\f35f";
    font-family: "Ionicons";
    font-size: 25px;
    color: #fff;
    transition: 0.2s;

}


ul.lang_opt li a.opt:hover:before,
ul.lang_opt:hover li a.opt:before {
    transform: rotate(180deg);
}

ul.lang_opt li:hover {
    cursor: pointer;
}

ul.lang_opt li img,
ul.lang_opt li a img {
    margin-left: 5px;
}

ul.lang_opt li ul {
    background: #2F313E;
    display: none;
    opacity: 0;
    min-width: 116px;
    position: absolute;
    transition: all 0.5s ease;
    top: 65px;
    left: -7px;
    transition: 0.2s;
    padding: 8px;
    z-index: 999999;
}

/*ul.lang_opt li a:hover ul.dropdown_lng {
    visibility: visible;
    opacity: 1;
}
*/
ul.lang_opt li ul li {
    clear: both;
    width: 100%;
}



.socian-icon {
    display: inline-block;
    margin-left: 30px;
}

.socian-icon a {
    margin-left: 10px;
}




/*-----------------------------------------------------------
                    Menu
-------------------------------------------------------------*/
.logo-area {
    display: inline-block;
    margin-left: 20px;
}

.site-navbar-wrap {
    z-index: 99;
    transition: 0.3s all ease;
}

.site-navbar-wrap .navbar-brand {
    padding: 0;
    max-width: 150px;
    margin-right: 0;
    line-height: 1.2;
}

.site-navbar-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /*! padding: 15px 0; */

    background: #2F313E;
}

.site-navbar-top {
    display: none;
    font-size: 0.8rem;
    background: #1e7e34;
}

.site-navbar-top a {
    color: #fff;
}

.site-navbar-top .text-with-icon {
    color: rgba(255, 255, 255, 0.5);
}

.site-navbar-top,
.site-navbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.site-navbar {
    margin-bottom: 0px;
    width: 100%;
    border-bottom: none;
}

.site-navbar .site-logo {
    font-weight: 200;
}

.site-navbar .site-logo a {
    font-weight: 200;
    font-size: 26px;
    color: #000;
}

.site-navbar .site-navigation .site-menu {
    margin-bottom: 0;
}

.site-menu>li {
    position: relative;
}

.site-navbar-wrap .site-menu>li::before {
    background: #fff;
}


.site-navbar .site-navigation .site-menu .active>a {
    color: #000;
}



.site-navbar .site-navigation .site-menu>li {
    display: inline-block;
    /*! padding: 10px 14px; */
    margin-right: 25px;
}

.site-navbar-wrap .site-navbar .site-navigation .site-menu>li>a {
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    text-decoration: none !important;
    padding: 26px 0;
    /*! margin-right: 23px; */
    font-family: "Assistant Regular";
    line-height: 30px;
}


.site-navbar .site-navigation .site-menu>li>a.active,
.site-navbar .site-navigation .site-menu>li>a:hover {
    color: #fff;
    text-shadow: 1px 0 0#fff;
}

.site-navbar .site-navigation .site-menu>li>a:after {
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 1px;
    content: "";
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;

}

.site-navbar .site-navigation .site-menu>li.has-children>a:after {
    bottom: 22px;

}

.site-navbar .site-navigation .site-menu>li>a.active:after,
.site-navbar .site-navigation .site-menu>li>a:hover:after {
    visibility: visible;
    opacity: 1;

}

.site-navbar .site-navigation .site-menu>li:last-child {
    padding-right: 0;
}

.site-navbar .site-navigation .site-menu .has-children {
    position: relative;
}

.site-navbar .site-navigation .site-menu .has-children:after {
    position: absolute;
    top: 55%;
    left: -13px;
    content: '\f35f';
    color: #fff;
    font-family: "Ionicons";
    font-size: 20px;
    transform: translateY(-50%);
}

.has-children a {
    font-size: 15px;
    font-weight: 300;
}

.site-navbar .site-navigation .site-menu .has-children>a {
    position: relative;
    font-size: 15px;
    font-weight: 500;
    display: block;
    font-size: 21px;
}

.dropdown>.has-children>a::before {
    position: absolute !important;
    content: "\e876" !important;
    color: #222222 !important;
    font-family: "Linearicons-Free";
    top: 11px !important;
    right: 3px !important;
    font-size: 10px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown {
    visibility: hidden;
    opacity: 0;
    top: 100%;
    left: -90%;
    position: absolute;
    text-align: left;
    margin-top: 20px;
    margin-left: 0px;
    background: #fff;
    transition: 0.4s 0s;
    z-index: 999;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown {
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.05);
    position: absolute;
    min-width: 15.3rem;
    z-index: 9999;
    text-align: center;
    background: #2F313E;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown li {
    position: relative;
    padding: 5px 20px;
}

.site-navbar .site-navigation .site-menu>li:first-child {
    /*! padding-right: 0; */
}

.site-menu>li>a {
    border-bottom: 1px solid transparent;
    padding-bottom: 2px;
}

/*
.site-menu > li > a:hover {
    border-bottom: 1px solid #fff;
}*/

.dropdown.sub-menu {
    position: absolute;
    min-width: 15.5rem !important;
    z-index: 9999;
}

.dropdown li a:hover {
    margin-left: 5px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown:before {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #000;
    border-width: 7px;
    margin-left: -7px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a {
    text-transform: none;
    letter-spacing: normal;
    transition: 0s all;
    color: #fff;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown .active>a {
    color: #28a745 !important;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li {
    border-bottom: 1px solid #9297BC;
    list-style: none;
    margin: 0;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown li:last-child {
    border-bottom: none;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li>a {
    display: block;
    color: #fff;
    transition: 0.3s;
    line-height: 28px;
    font-size: 21px;
    font-weight: 500;
    padding: 10px 0;
    font-family: "Assistant Regular";
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li>a:hover {
    color: #fff;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>a:before {
    content: "\f10a";
    right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>.dropdown,
.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>ul {
    left: 100%;
    top: 0;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li.has-children>.dropdown.sub-menu {
    top: 2% !important;
}

.site-navbar .site-navigation .site-menu .has-children:hover,
.site-navbar .site-navigation .site-menu .has-children:focus,
.site-navbar .site-navigation .site-menu .has-children:active {
    cursor: pointer;
}

.site-navbar .site-navigation .site-menu .has-children:hover>.dropdown,
.site-navbar .site-navigation .site-menu .has-children:focus>.dropdown,
.site-navbar .site-navigation .site-menu .has-children:active>.dropdown {
    transition-delay: 0s;
    margin-top: -1px;
    visibility: visible;
    opacity: 1;
}

.site-navbar-wrap .menu-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.site-mobile-menu {
    width: 100%;
    position: fixed;
    right: 0;
    top: 70px;
    z-index: 20000;
    padding-top: 20px;
    background: #2F313E;
    height: calc(100vh);
    box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
    transition: .3s all ease-in-out;
    opacity: 0;
    visibility: hidden;
}

.offcanvas-menu .site-mobile-menu {
    opacity: 1;
    visibility: visible;
}

.mobile-bar span {
    font-size: 28px;
    border-radius: 4px;
}

.site-navbar-wrap .mobile-bar span {
    color: #fff;
}


.site-mobile-menu-close.js-menu-toggle span {
    color: #fff;
    margin-right: 15px;
    font-size: 25px !important;
}

.site-mobile-menu .site-mobile-menu-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
    float: right;
    margin-top: 8px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
    font-size: 30px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 0px;
    line-height: 1;
    cursor: pointer;
    transition: .3s all ease;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
    color: #25262a;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
    float: left;
    margin-top: 10px;
    margin-left: 0px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
    display: inline-block;
    text-transform: uppercase;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
    max-width: 70px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
    text-decoration: none;
}

.site-mobile-menu .site-mobile-menu-body {
    overflow-y: scroll !important;
    position: relative;
    padding: 0 1px 20px 1px;
    height: calc(100vh - 52px);
    padding-bottom: 150px;
}

.site-mobile-menu .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    text-align: center;
}

.site-mobile-menu .site-nav-wrap a {
    padding: 15px 0;
    display: block;
    position: relative;
    color: #fff;
    font-weight: 500;
    line-height: 1.2;
    margin: 0 12px;
}

.site-mobile-menu .site-nav-wrap li {
    position: relative;
    display: block;
}

.site-mobile-menu .site-nav-wrap li.active>a {
    color: #28a745;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse {
    position: absolute;
    right: 0;
    top: 10px;
    z-index: 20;
    width: 100%;
    height: 40px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
    /*! background: #f8f9fa; */
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
    font-size: 22px;
    z-index: 20;
    font-family: "Ionicons";
    content: "\f35f";
    position: absolute;
    top: 50%;
    left: 69%;
    transform: translate(-50%, -50%) rotate(-180deg);
    transition: .3s all ease;
    color: #fff;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
    transform: translate(-50%, -50%);
}

.site-mobile-menu .site-nav-wrap>li {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    /*! margin: 0 10px; */
}

.site-mobile-menu .site-nav-wrap>li>a {
    font-size: 20px;
    border-bottom: 1px solid #484A5B;
}

.site-mobile-menu .site-nav-wrap>li>a:hover {
    text-shadow: 1px 0 0 #fff;
}

.site-mobile-menu .site-nav-wrap>li>ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background: #484A5B;
}

.site-mobile-menu .site-nav-wrap>li>ul>li {
    display: block;
}

.site-mobile-menu .site-nav-wrap>li>ul>li:last-child a {
    border-bottom: none;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>a {
    padding-left: 20px;
    font-size: 18px;
    color: #fff;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul {
    padding: 0;
    margin: 0;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul>li {
    display: block;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul>li>a {
    font-size: 16px;
    padding-left: 60px;
}

#user-login-popup .modal-dialog {
    max-width: 850px;
}

.dropdown-toggle {

    transition: 0.3s;
}

.dropdown-toggle:hover .dropdown-menu.lang {
    display: block;

}

.dropdown-toggle:hover:after {

    transform: rotate(180deg);
}

.dropdown-item img {
    margin-left: 5px;
}

/* hero area Start */


.hero-area {
    height: 930px;
    background-position: center;
    background-size: cover;
}

.hero-content h1 {
    font-size: 100px;
    color: #fff;
}

.hero-content p {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}



/*sticky START CSS*/
.header-bar-area.sticky {
    position: fixed;
    z-index: 999;
    /*animation: 500ms ease-in-out  normal none 1 running fadeInDown;*/
    width: 100%;
    top: 0;
    -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, .1);
}



/*Hamburger-menu START CSS*/
.hamburger-menu {
    cursor: pointer;
    position: absolute;
    right: 15px;
    display: none;
}

.hamburger-menu span {
    background: #00AEEF;
    width: 30px;
    height: 3px;
    display: block;
    margin: 5px 0;
    transition: all 0.3s ease;
}

.hamburger-menu:hover .line-top {
    transform: translateY(-100%);
}

.hamburger-menu:hover .line-bottom {
    transform: translateY(100%);
}

/*.hamburger-menu:hover .line-top.current,
.hamburger-menu:hover .line-bottom.current {
    transform: 0;
}*/

.hamburger-menu .line-top.current {
    transform: translateY(200%) rotate(135deg);
}

.hamburger-menu .line-center.current {
    opacity: 0;
}

.hamburger-menu .line-bottom.current {
    transform: translateY(-325%) rotate(-135deg);
}




/*ofcanvas-menu*/
.ofcavas-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 99;
    top: 0;
    display: none;
    left: -100%;
    transition: .3s;
}

.ofcavas-menu.current {
    left: 0;
}

.ofcavas-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 70px;
    padding-left: 0;
}

.ofcavas-menu ul li a {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    padding: 12px;
    display: block;
}


/*return-to-top START CSS*/
.back-to-top {
    font-size: 24px;
    width: 45px;
    height: 45px;
    line-height: 42px;
    text-align: center;
    color: #4DE2C1;
    display: none;
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 99;
    border-radius: 50%;
    background: #2F313E;
}

.back-to-top i {
    color: #fff;
}






/*--------------------------
        Breadcrumb Section
-----------------------------*/

.breadcrumb_section {
    background-position: center;
    background-size: cover;
    height: 500px;
    position: relative;
}

.breadcrumb_section:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: rgba(60, 62, 73, 0.79);
    transition: 0.5s;
}

.breadcrumb-content h2,
.breadcrumb-content p {
    color: #fff;
}
.breadcrumb-content p{
    font-size: 20px;
}
.breadcrumb-content h2{
    font-size: 48px;
    font-weight: 600;
}

.breadcrumb-content {
    text-align: center;
    transform: translateY(245px);
    z-index: 9;
}

.breadcrumb-menu {
    padding: 15px 0;
}

.breadcrumb-menu ul li {

    display: inline-block;
    padding: 0 0 0 12px;
    font-family: "Assistant Regular";
    font-size: 20px;
}
.breadcrumb-menu ul li.active {
    font-family: "Assistant Bold";
  
}

.breadcrumb-menu ul li a {
    position: relative;
}

.breadcrumb-menu ul li a:after {
    position: absolute;
    top: 5px;
    left: -11px;
    content: "\f3cf";
    font-family: 'Ionicons';
    font-size: 12px;

}
.product_detils.company_profile.brand_beta .breadcrumb-menu {
    margin-bottom: 30px;
}

/*--------------------------
        Product Section
-----------------------------*/
.br-b {
    border-bottom: 1px solid #999;
    padding-bottom: 40px
}

.br_1 {
    border-bottom: 1px solid #ddd;

}

.product_detils .col-lg-6,
.product_detils .col-lg-7,
.product_detils .col-lg-5,
.product_detils .col-lg-12,
.product-area .col-lg-6,
.product-area .col-lg-12 {
    padding-left: 11px !important;
    padding-right: 11px !important;
}

.product_detils.company_profile.inner .col-lg-6
 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: rgba(47, 48, 59, 0.7);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    z-index: 1;
}
.product_detils.company_profile.inner .showcase_bg.bg-h:hover .overlay,
.product_detils.company_profile.inner .simple_1.bg-xs:hover .overlay,
.product_detils.company_profile.inner .simple_1.bg-s:hover .overlay{
    opacity: 1;
    visibility: visible;
}
.bg-f {
    background-position: center;
    background-size: cover;
    height: 520px;
    position: relative;
}

.bg-h {
    background-position: center;
    background-size: cover;
    height: 480px;
    position: relative;
}

.bg-s {
    background-position: center;
    background-size: cover;
    height: 400px;
    position: relative;
}

.bg-xs {
    background-position: center;
    background-size: cover;
    height: 340px;
    position: relative;
}

.bg-xx {
    background-position: center;
    background-size: cover;
    height: 270px;
    position: relative;
}

.single_product {
    background-position: center;
    background-size: cover;
    height: 500px;
    position: relative;
}

.single_product.v1 {
    margin: 10px 0;
    height: 370px;
}
.profile_product:hover .overlay,
.single_product.v1:hover .overlay {
    opacity: 1;
    visibility: visible;
    z-index: 1;
}


.single_product.v2 {
    background-position: center;
    background-size: cover;
    height: 400px;
    position: relative;
    margin: 10px 0;
}

.single_product.v2 .product_desc {
    visibility: hidden;
    opacity: 0;
}
.product_desc.v4 h2 {
    font-family: "Assistant Bold";
    font-size: 26px;
}


.product-area.home .single_product.v1 .overlay {
    visibility: visible;
    opacity: 0.6;
}

.single_product.v3 {
    background-position: center;
    background-size: cover;
    height: 400px;
    position: relative;
    margin: 10px 0;
}

.product_detils.projects .single_product.v3 {
    height: 320px;

}

.product_desc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 9;
    width: 100%;
    transition: 0.5s;
}

.product_desc h2 {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    color: #fff;
    font-size: 40px;
    text-shadow: 2px 0px 6px #33333394;
    font-family: "OpenSans Hebrew Bold";
}

.product_desc h2:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 1px;
    width: 90%;
    content: "";
    background: #fff;
    z-index: 1;
    transform: translateX(-50%);
}

.product_detils.product .product_desc p {

    font-size: 26px;
    font-weight: 300;
}

.product_desc p {
    color: #fff;
    margin: 2px 0 10px;
    font-size: 25px;
    line-height: 1.4;
}

.product_title {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.product_title h2 {
    color: #fff;
    font-size: 26px;
    font-family: "Assistant Bold";
}


.product_detils .section-content p {
    padding: 0 190px;
    font-size: 21px;
    line-height: 28px;
}


.product_cat ul li a {
    display: block;
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
    font-family: 'Assistant Regular';
    font-size: 22px;
}

.product_cat ul li a.active {
    /*! font-weight: 600; */
    font-family: "Assistant Bold";
}


.product_title_bar {
    position: absolute;
    bottom: -28px;
    width: 90%;
    left: 5%;
    right: 5%;
    text-align: center;
    background: #1E1F29;
    padding: 15px 10px;
    transform: translateY(0);
    transition: 0.4s;
    box-shadow: 0px 6px 8px #33333363;
}

.single_product.v4 .product_title_bar.v2 {
    box-shadow: none;

}

.product_title_bar.v2 {
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(52, 53, 64, 0.77);
}

.product_title_bar h2 {
    color: #fff;
    font-size: 24px;
    position: relative;
    padding-bottom: 5px;
}
.single_product.v3 .product_title_bar h2 {
    font-family: "openSans hebrew Bold";
}
.product_title_bar h2:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 1px;
    width: 100px;
    content: "";
    background: #fff;
    z-index: 1;
    transform: translateX(-50%);
}

.product_title_bar p {
    color: #fff;
    font-size: 20px;
    padding: 5px 0;
    line-height: 1.3;
}

.profile_desc {
    text-align: center;
    transform: translateY(-50%);
    position: relative;
    top: 50%;
}

.profile_desc img {
    padding-bottom: 20px;
}

.profile_desc h3 {
    font-size: 25px;
    /*! font-weight: 600; */
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 10px;
    font-family: "Assistant Bold";
}

.profile_desc h3:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    background: #333;
    width: 50%;
    height: 2px;
}

.profile_desc p {
    padding: 0 64px;
    font-size: 18px;
    line-height: 1.4;
}

.profile_product {
    background-position: center;
    background-size: cover;
    height: 400px;
    position: relative;
}

.showcase_1 {
    padding: 0 4px 0 0;
    background: #F2F2F2;
    display: block;
}

.showcase_1.v2 {
    background: transparent !important;
}

.showcase_desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 480px;
    text-align: right;
    padding: 0 30px 0 0;
}

.showcase_desc.v2 {
    display: block;
    height: auto;
}

.showcase_desc.v3 {
    display: flex;
    height: 250px;
}

.showcase_desc h2 {
    font-size: 24px;
    display: inline-block;
    padding-bottom: 6px;
    margin-bottom: 6px;
    position: relative;
}

.showcase_desc h2:after {
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    background: #999;
    width: 60%;
    height: 2px;

}

.showcase_desc.v3 h2::after {
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    background: #444;
    height: 1px;
    width: 52%;
}

.simple_2,
.simple_3 {
    background: #E5E5E5;
    padding: 30px;
    margin: 0 -4px;
    display: block;
}

.simple_3 .bg-s {
    height: 250px;
}

/*--------------------------
    Contact Details Section
-----------------------------*/
.location_info h4 {
    font-family: "Assistant Bold";
    font-size: 29px;
}
.location_info p {
    line-height: 1.3;
    font-size: 22px;
}

.location_img .bg-s {
    height: 400px;
}

.map_icon img {
  display: block;
  text-align: center;
  margin: 0 auto;
}
.map_icon span {
  font-size: 29px;
  font-family: Assistant Bold;
  line-height: 38px;
}
.map_icon {
  text-align: center;
  display: inline-block;
}
/*--------------------------
    Product Details Section
-----------------------------*/
.section_header {
    text-align: center;
    padding: 45px 220px;
}

/*------------------------------
    Gallery Slider Section
-------------------------------*/
.gallery-section {
    position: relative;
    padding-bottom: 35px;
}

.partner_section .container,
.gallery-section .container {
    /*! border-top: 1px solid #ddd; */
}

.partner_section .section_title,
.gallery-section .section_title {
    padding-top: 10px;
}

.gallery_slider-item {
    background-position: center;
    background-size: cover;
    height: 632px;
}

.gallery-img {
    background-position: center;
    background-size: cover;
    height: 632px;
}

.gallery_text h3,
.gallery_text p {
    color: #fff;
}

.gallery_text h3 {
    position: relative;
    padding-bottom: 8px;
    display: inline-block;
    font-size: 26px;
    font-weight: 700;
    line-height: 35px;
}

.gallery_text h3:after {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2px;
    width: 63%;
    content: "";
    background: #fff;
    z-index: 1;
    opacity: 0.35;
}

.gallery_text.bg-f {
    height: 632px;
}

.galler_text_wrap {
    background: rgba(30, 32, 41, 0.94);
    width: 100%;
    height: 100%;

    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 632px;
    padding: 0 30px 0 120px;
}

/* .gallery_text {
    background: #22232DEB;
    text-align: right;
    width: 100%;
    height: 632px;
    position: relative;
    padding: 30px 30px 30px 170px;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
} */
.gallery_text.overlay {
    opacity: 0.7;
    visibility: visible;
}

.gallery_text p {

    line-height: 31px;
    padding: 14px 0 20px;

    font-size: 23px;
}

.gallery_text a {
    display: inline-table;
    background: #fff;
    color: #000;
    padding: 6px 25px 8px;
    line-height: 33px;
    border-radius: 3px;
    width: 26.5%;
    font-family: "Assistant Bold";
    font-size: 25px;
}

.showcase_prev,
.gallery_prev {
    position: absolute;
    top: 50%;
    width: 50px;
    z-index: 9;
    left: 0;
    cursor: pointer;
    outline: none;
    box-shadow: none;
}

.showcase_next,
.gallery_next {
    position: absolute;
    top: 50%;
    width: 50px;
    z-index:9;
    right: -30px;
    cursor: pointer;
    right: 100px;
    outline: none;
    box-shadow: none;
}

.gallery_prev i,
.showcase_prev i,
.gallery_next i,
.showcase_next i {
    font-size: 40px;
}

.gallery-section.v2 .gallery_prev,
.gallery-section.v2 .gallery_next {
    top: 45%;
    transform: translateY(-50%);
}

.swiper-container.product_showcase.swiper-container-horizontal.swiper-container-rtl {
    padding: 0 0 50px;
}

.showcase_wrapper {
    position: relative;
}

.showcase_prev {
    left: -12px;
}

.showcase_next {
    right: -50px;
}

.showcase_next,
.showcase_prev {
    top: 45% !important;
    transform: translateY(-50%);
}

/*------------------------------
    Partner Section
-------------------------------*/


.partner_section {
    margin: 50px 0 0;
    position: relative;
}

.partner_first {
    padding: 40px 0;
}

.section_title {
    text-align: center;
}

.section_title.v1 h2 {
    text-align: center;
    font-size: 28px;
    padding-bottom: 10px;
    font-weight: 500;
    font-family: 'Assistant Regular';
}
.section_title.v1.style1 h2 {
    font-family: 'OpenSans Hebrew Regular';
}

.section_title.v1.style3 h2 {
    font-family: 'Assistant SemiBold';
}
.section_title.v1 h2:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 120px;
    content: "";
    background: #333;
    z-index: 1;
}

.section_title.v2 {
    border-bottom: 1px solid #ddd;
}

.section_title.v2 h2 {
    text-align: center;
    font-size: 26px;
    padding-bottom: 5px;
    font-family: "Assistant Bold";
    font-size: 31px;
}

.section_title.v2 p {
    padding: 0 200px;
    line-height: 1.4;
    font-size: 20px;
}
.section_title.v3 h2 {
    text-align: center;
    font-size: 30px;
    padding-bottom: 10px;
    line-height: 40px;
    font-family: 'OpenSans Hebrew Bold';
}

.section_title.v3 h2:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 120px;
    content: "";
    background: #333;
    z-index: 1;
    opacity: 0.45;
}
.section_title.v1.style1.project-details h2 {
    font-size: 41px;
    line-height: 54px;
    font-family: "OpenSans Hebrew Regular";
}
.section_subtitle{
    text-align: center;
    font-size:25px ;
    line-height: 33px;
    font-family: "Assistant Bold";
}
.simple_3 a:hover{
    color: #212529;
}
.partner-wrap {
    padding: 50px 0 80px;
    position: relative;
}

.partner_next,
.partner_prev {
    position: absolute;
    top: 42%;
    transform: translateY(-50%);
    cursor: pointer;
}

.partner_first img {
    margin: 0 40px;
    display: inline-block;
    max-width: 173px;
}

.partner_section .row.mt-4 {
    position: relative;
}

.partner_next {
    right: 14%;
}

.partner_prev {
    left: 14%;
}

.partner_next i,
.partner_prev i {
    font-size: 40px;
}

.simple_1-text {
    margin: 20px 0;
}
.simple_1-text h5 {
    font-family: "Assistant Bold";
    font-size: 22px;
}
.product_detils.company_profile.magazine .showcase_desc span,
.product_detils.company_profile.inner .showcase_desc span,
.swiper-slide .simple_3 .showcase_desc.v3 span,
.brand_beta .showcase_desc span {
    font-size: 28px;
    display: block;
    font-family: "OpenSans Hebrew";
}
.brand_beta .showcase_desc span {

    /*! font-family: "OpenSans Hebrew Bold"; */
}
.product_detils.company_profile.magazine .showcase_desc h2,
.swiper-slide .simple_3 .showcase_desc.v3 h2,
.product_detils.company_profile.inner .showcase_desc h2,
.brand_beta .showcase_desc h2 {
    /*font-weight: 600;*/
    font-family: 'Assistant Bold';
    font-size: 25px;
    line-height: 33px;
}

.swiper-slide .simple_3 .showcase_desc.v3 h2,
.brand_beta .showcase_desc h2::after {
    width: 100%;
}

.brand_beta .showcase_desc {
    display: block;
    height: auto;
}
.showcase_desc p {
    font-size: 20px;
    line-height: 1.4;
}
.brand_beta .product_title_bar h2 {

    font-weight: 600;
    font-family: "Assistant Bold";
    font-size: 28px;
}

.brand_beta .product_title_bar p {
    font-size: 21px;
    line-height: 28px;
}

.brand_beta .product_title_bar h2::after {

    width: 80px;


}
.showcase_desc.v5{
    padding-right: 0;
}
.product_detils.company_profile.inner .showcase_desc {
    display: block;
    /*transform: translateY(30px);*/
    height: auto;

}

.product_detils.company_profile.magazine .showcase_desc {
    display: block;
    /*transform: translateY(2px);*/
    height: auto

}

.product_detils.company_profile.magazine .showcase_desc span,
.product_detils.company_profile.inner .showcase_desc span {
    display: block;
}

.product_detils.company_profile.magazine .showcase_desc h2::after,
.product_detils.company_profile.inner .showcase_desc h2::after {

    width: 100%;

}

.product_detils.company_profile.inner .showcase_desc.v2 h2::after {

    width: 100%;

}
.mfp-counter {

    display: none;
}
/*------------------------------
    Contact Section
-------------------------------*/


.form-control {
    border: none;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-bottom: 1px solid #2F313E;
    border-radius: 0;
    color: #000;
    font-weight: 500;
}

.form-group {
    margin-bottom: 30px;
}
textarea {
  resize: none;
}
.btn.v7 {
    background:
        #2F313E;
    color:
        #fff;
    font-weight: 600;
    line-height: 1.2;
    padding: 5px 15px;
}

.btn.v7 {
    background: #2F313E;
    color: #fff;
    font-weight: 600;
    line-height: 1.29;
    padding: 5px 28px 6px;
}

.btn.v7:focus {
    outline: none;
    box-shadow: none;
}

.contact_add li {
    display: inline-block;
    position: relative;
    padding: 0 10px;
}

.contact_add li:after {
    position: absolute;
    top: 2px;
    right: 0;
    content: "";
    background: #999;
    width: 1px;
    height: 100%;
}

.contact_add li:first-child:after {
    display: none;
}

.social-img li {
    display: inline-block;
    padding: 0 10px;
}

/*------------------------------
    Footer Section
-------------------------------*/
.footer_top_section {
    margin: 50px 0 0;
    background: #1E1F29;
}


.footer_top_section .container {
    /*! background: #1E1F29; */
    padding: 50px 50px 30px;
}

.footer_widget h5 {
    position: relative;
    display: inline-block;
    font-size: 22px;
    padding-bottom: 3px;
    margin-bottom: 10px;
    border-bottom: 1px solid #fff;
    font-weight: 700;
    font-family: "Assistant Regular";
}

.footer_widget h5:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 2px;
    width: 90px;
    content: "";
    background: #fff;
    z-index: 1;
    transform: translateX(-50%);
    display: none;
}

.footer_widget h5,
.footer_widget p,
.footer_widget p a {
    color: #fff;
}

.footer_widget p {
    font-size: 15px;
}

.footer_widget p a {
    font-weight: 400 !important;
}

.footer_widget .socian-icon {
    margin-left: 0;
}

.footer_widget .socian-icon a {
    margin-left: 0;
    padding: 0 5px;
    margin: 10px 0;
    display: inline-block;


}

.footer_bottom_section {
    padding: 15px 0;
    position: relative;
}

.footer_bottom_img {
    padding-left: 10px;
}

.copyright {
    padding-right: 10px;
}


/*-----------Language select-------------*/

.nav-wrapper {
    width: 300px;
    margin: 100px auto;
    text-align: center;
}

.sl-nav {
    display: inline;
}

.sl-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    display: inline-block;
}

.sl-nav li {
    cursor: pointer;
    padding-bottom: 10px;
}

.sl-nav li ul {
    display: none;
}

.sl-nav li:hover ul {
    position: absolute;
    top: 29px;
    right: -15px;
    display: block;
    background: #fff;
    width: 120px;
    padding-top: 0px;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.sl-nav li:hover .triangle {
    position: absolute;
    top: 15px;
    right: -10px;
    z-index: 10;
    height: 14px;
    overflow: hidden;
    width: 30px;
    background: transparent;
}

.sl-nav li:hover .triangle:after {
    content: '';
    display: block;
    z-index: 20;
    width: 15px;
    transform: rotate(45deg) translateY(0px) translatex(10px);
    height: 15px;
    background: #fff;
    border-radius: 2px 0px 0px 0px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.sl-nav li ul li {
    position: relative;
    text-align: left;
    background: transparent;
    padding: 15px 15px;
    padding-bottom: 0;
    z-index: 2;
    font-size: 15px;
    color: #3c3c3c;
}

.sl-nav li ul li:last-of-type {
    padding-bottom: 15px;
}

.sl-nav li ul li span {
    padding-left: 5px;
}

.sl-nav li ul li span:hover,
.sl-nav li ul li span.active {
    color: #146c78;
}

.sl-flag {
    display: inline-block;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    width: 15px;
    height: 15px;
    background: #aaa;
    border-radius: 50%;
    position: relative;
    top: 2px;
    overflow: hidden;
}

.flag-de {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAIAAAAC64paAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMTM0A1t6AAAAPUlEQVQ4T+3HMQ0AIBTE0NOHM8x9B7hgh71bIWGieUvze1m7kHGBr/AVvsJX+EpmP5dV5/gKX+ErfIUvVDYcX2NMxQC8PAAAAABJRU5ErkJggg==');
    background-size: cover;
    background-position: center center;
}

.flag-usa {
    background-size: cover;
    background-position: center center;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAIAAAAC64paAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMTM0A1t6AAABhUlEQVQ4T2Ows82PjGixsc4LD2tysC/09Kjw8622tyuICG8u0w/cpGSCBzF4e1VmZkzw9anOzOj38a4KCW4IC22ECHYk1l9tn4gHMeTlTnZxLikvm+XiUpKW2hvgX+vnV5OVOQEoOGfOtv94AYOzU3Fd7XxHh6Lq6rlurqUx0W0J8Z1AnbW18yotonaYuOJBDBXls4A+bGpaBCTz86YEBtQCvVBSPAPIbY0oP1/aiAcxABU1Ny+2tclvbFjo5FgUF9uenNwNDLnmpkWEnV1TPRcY1O1tS4H6i4umA/0MDK2K8tlAwRqHpP1uoXgQKKraWpcClTY3LQZaCLQ5NaUX5OaWJY3++SeTC/AgBmA4AXUClUJs9ver8fKsAAYEUJCws4G21dXNB1oFdD/Qz8DQTk4C+bm2dn6DZ9bRiDQ8iAEYt8CoBpK5YBIYw0AEEZwSXX4oMB4PYoC6gCzAcDqrjGzEsMfen2xEmbMv1rSTjRi26dqRjShz9o2+6WQjBrSShQSkZAIADvW/HLrLY6cAAAAASUVORK5CYII=');
}


.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
    display: block!important;
}
.owl-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -25px;

}
.owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -25px;

}
.owl-prev i,
.owl-next i {
    font-size: 40px;

}
.owl-next:focus,
.owl-prev:focus{
        outline: none;
    box-shadow: none;
}